// We use this Base to set up various general/global variables
$marginTop: 2rem;
$marginSmallTop:1.125rem;
$widgetMargin: $marginTop;
<<<<<<< HEAD

//Tijdelijk //
body{
  background-color: $smoke;
}


.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

=======
$w3marginLeft: 12rem;
$w3marginTop: 4rem;
$w4marginTop: 3rem;
>>>>>>> f2d69ec42622cccbb0939a012abd79cfec852fa0
.widgetTitle{
  margin-bottom: $widgetMargin;
}

@mixin HrLine{
  content: " ";
  display: block;
  border-top: 3px solid $primary-color;
  width: rem-calc(50);
  margin: 0 auto;
}

.primaryButton{
  border-radius:1.3125rem;
  background-color: $primary-color-two;
  padding: 0.5rem;
  box-shadow: 0px 5px 5px $primary-color-two-oppacity;
}
